@import '~assets/less/partials/vars';

/* ==========================================================================
   Resource
   ========================================================================== */

.resource {
    background: #FFF;
    border: solid 1px #d8e2e7;
    border-radius: 4px;
    width: 20%;
    margin: 8px;
    flex-grow: 1;
    position: relative;
    z-index: 5;

    .title {
        padding: 15px 100px 15px 15px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.4;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        z-index: 15;
    }

    .abbreviation {
        position: absolute;
        display: flex;
        flex: 1;
        right: 0;
        bottom: 0;
        text-transform: uppercase;
        font-size: 24px;
        padding-right: 15px;
        line-height: 54px;
        color: @color-bg-grey;
        z-index: -5;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;      /* iOS Safari */
        -khtml-user-select: none;       /* Chrome/Safari/Opera */
        -moz-user-select: none;         /* Konqueror */
        -ms-user-select: none;          /* Firefox */
        user-select: none;              /* Internet Explorer/Edge */
    }
}
