<div class="page singleton">
    <highstock
        :options="options"
        ref="highcharts"
        class="chart-container"
        :class="{ 'no-history': health_history.length === 0 }">
    </highstock>

    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Start Time</td>
                    <td>Reasoning</td>
                    <td>Decision</td>
                    <td>Decision Time</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="dispatch in dispatches">
                    <td>{{ dispatch.created_at | moment("MMM Do, hh:mm A") }}</td>
                    <td>{{ dispatch.created_reason }}</td>
                    <td>{{ dispatch.approved_reason || 'No alert necessary' }}</td>
                    <td>{{ dispatch.last_considered_at | moment("MMM Do, hh:mm A") }}</td>
                </tr>
                <tr v-if="dispatches.length === 0">
                    <td class="text-center" colspan="4">There are no dispatch alerts for this origin.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
