<div class="col-md-4 resource" @click="enterResource()">
    <section class="box-typical">
        <header class="box-typical-header">
            <ul class="health">
                <li class="stable" style="width:60%"></li>
                <li class="warning" style="width: 30%"></li>
                <li class="danger" style="width: 10%"></li>
            </ul>

            <div class="tbl-row">
                <div class="tbl-cell tbl-cell-title">
                    <h3>{{ name }}</h3>
                </div>
            </div>

            <div class="abbreviation">{{ abbreviation }}</div>
        </header>

        <div class="box-typical-body">
            <div class="table-responsive">

            </div>
        </div>
    </section>
</div>
