<div class="page-content budgets">
    <div class="container-fluid m-b-20">
        <section class="page-control">
            <div class="row row-white row-title">
                <div class="col-md-9">
                    <h1>Budgets</h1>
                </div>

                <div class="col-md-3 text-right" ng-show="active === 1">
                    <div class="input-group date">
                        <input
                            id="transaction-range-picker"
                            date-range-picker
                            datepicker-mode="'week'" 
                            class="form-control date-picker"
                            type="text"
                            ng-model="dateRange.dates"
                            options="datePickerOptions"
                        />
                        <span class="input-group-addon" ng-click="showDatepicker()">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row row-white row-tabs">
                <div class="col-md-12">
                    <ul>
                        <li ng-click="active = 1" ng-class="{ 'active': (active === 1) }">Scenarios</li>
                        <li ng-click="active = 2" ng-class="{ 'active': (active === 2) }">Categories</li>
                    </ul>
                </div>
            </div>

            <div class="row row-gray row-message" ng-show="active == 1">
                <div class="col-md-10 py-2">
                    <p class="my-0">
                        A scenario is a version of a budget with changed variables. By
                        creating multiple scenarios you can compare different forecasted
                        finances based on the amount of allowance for each category.
                    </p>
                </div>

                <div class="col-md-2 text-right p-t-md">
                    <button type="button" class="btn btn-primary" ng-click="createScenario()"><i class="fa fa-plus m-r-md"></i> New Scenario</button>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid">
        <div class="row row-transactions">
            <div class="col-md-12" ng-show="active == 1">
                <div ng-include src=" 'templates/partials/scenarios.html' " include-replace></div>
            </div>
            <div class="col-md-12" ng-show="active == 2">
                <div ng-include src=" 'templates/partials/categories.html' " include-replace></div>
            </div>
        </div><!--.box-typical-->
    </div><!--.container-fluid-->
</div>
