<div class="page-content">
    <div class="container-fluid m-b-20">
        <section class="page-control">
            <div class="row row-white row-title">
                <div class="col-md-12">
                    <h1>Budgets</h1>
                </div>
            </div>

            <div class="row row-white row-tabs">
                <div class="col-md-12">
                    <ul>
                        <li ng-click="active = 1" ng-class="{ 'active': (active == 1) }">Scenarios</li>
                        <li ng-click="active = 2" ng-class="{ 'active': (active == 2) }">Categories</li>
                    </ul>
                </div>
            </div>

            <div class="row row-gray" ng-show="active == 1">
                <div class="col-md-12">
                    <p class="m-t-15 m-b-15 m-l-20 m-r-20">
                        A scenario is a version of a budget with changed variables. By
                        creating multiple scenarios you can compare different forecasted
                        finances based on the amount of allowance for each category.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid">
        <div class="row row-transactions">
            <div class="col-md-12" ng-show="active == 1">
                <div ng-include src=" 'templates/partials/scenarios.html' " include-replace></div>
            </div>
            <div class="col-md-12" ng-show="active == 2">
                <div ng-include src=" 'templates/partials/categories.html' " include-replace></div>
            </div>
        </div><!--.box-typical-->
    </div><!--.container-fluid-->
</div>
