<div class="page-center full-height">
    <div class="page-center-in">
        <div class="container-fluid" style="position: relative;">
<!--             <svg class="orbit">
                <g class="onelink-orbit" transform="matrix(1.365, -1.875, 0.9375, 1.613625, 150, 100)">
                    <path stroke="#F8D053" stroke-width="2" d="M 0,70 A 65,70 0 0,0 65,0 5,5 0 0,1 75,0 75,70 0 0,1 0,70Z" fill="#F8D053">
                        <animateTransform attributeName="transform" type="rotate" from="360 0 0" to="0 0 0" dur="4s" repeatCount="indefinite" />
                    </path>
                </g>
            </svg> -->

            <div class="box">
                <div class="information">
                    <h1>Network Operations Center</h1>
                    <p>
                        The best design UI kit for designing New interfaces and Dashboards
                    </p>
                </div>

                <div class="login">
                    <h1>Login to your account</h1>

                    <form class="sign-box">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Email" ng-model="loginCtrl.email" />
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" ng-model="loginCtrl.password" />
                        </div>
                    </form>
                    <div class="actions">
                        <button type="submit"
                            ng-disabled="loginCtrl.login.$invalid || loginCtrl.loading"
                            ng-click="loginCtrl.login(loginCtrl.email, loginCtrl.password)">Sign In</button>
                        <span>Forgot Password?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="footer">
        <div class="centered">
            <div class="links">
                <a href="">About</a>
                <a href="">Faq</a>
                <a href="">Sales</a>
                <a href="">Dashboard</a>
            </div>
            <div class="register">
                <p>Don't have an account yet? Sign Up</p>
            </div>
        </div>
    </div>
</div>
