<div class="page-content">
    <div class="container-fluid mb-2">
        <section class="page-control">
            <div class="row row-white row-title">
                <div class="col-md-9">
                    <h1>{{ origin.origin_live_domain }}</h1>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid content mb-2">
        <div class="row">
            <div class="col-md-12">
                <highchart id="status-chart" config="chartConfiguration"></highchart>
            </div>
        </div>
    </div>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-4 hardware" ng-repeat="(key, target) in targets" ng-click="enterTarget(target)">
                <section class="box-typical">
                    <header class="box-typical-header">
                        <ul class="health">
                            <li class="stable" style="width: {{ target.status.stable }}%"></li>
                            <li class="warning" style="width: {{ target.status.warning }}%"></li>
                            <li class="danger" style="width: {{ target.status.danger }}%"></li>
                        </ul>

                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-title">
                                <h3>{{ target.target_live_domain }}</h3>
                            </div>
                        </div>

                        <div class="abbreviation">{{ target.target_live_domain }}</div>
                    </header>

                    <div class="box-typical-body">
                        <div class="table-responsive">

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
