<div class="page-content">
    <div class="container-fluid m-b-20">
        <section class="page-control">
            <div class="row row-white row-title">
                <div class="col-md-9">
                    <h1>Transactions</h1>
                </div>

                <div class="col-md-3 text-right">
                    <div class="input-group date">
                        <input id ="transaction-range-picker" date-range-picker class="form-control date-picker" type="text" ng-model="dates" options="datePickerOptions" />
                        <span class="input-group-addon" ng-click="showDatepicker()">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row row-white row-tabs">
                <div class="col-md-12">
                    <ul>
                        <li class="active">Recent</li>
                        <li>By Category</li>
                    </ul>
                </div>
            </div>

            <!--
                <div class="row row-gray row-filters">
                    <div class="col-md-3">
                        <div class="filter">
                            <div class="btn-group dropdown" uib-dropdown="" is-open="status.isopen">
                                <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>

                                <div class="dropdown-menu" uib-dropdown-menu="" role="menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pull-right">
                        <div class="search">
                            <input type="text" class="form-control" placeholder="Search transactions">
                        </div>
                    </div>
                </div>
            -->
        </section>
    </div>

    <div class="container-fluid">
        <div class="row row-transactions">
            <div class="col-md-12">
                <section class="box-typical">
                    <header class="box-typical-header">
                        <div class="tbl-row">
                            <div class="tbl-cell tbl-cell-title">
                                <h3>Recent Transactions</h3>
                            </div>
                        </div>
                    </header>

                    <div class="box-typical-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-datatable table-transactions" st-table="transactions" st-safe-src="initialTransactions">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;"></th>
                                        <th st-sort="date" style="width: 10%">Date</th>
                                        <th st-sort="name" style="width: 30%">Description</th>
                                        <th st-sort="category">Category</th>
                                        <th st-sort="account">Account</th>
                                        <th st-sort="amount" style="width: 100px;">Amount</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <st-date predicate="date"></st-date>
                                        </th>
                                        <th>
                                            <input st-search="name" placeholder="Search Description" class="input-sm form-control" type="search" />
                                        </th>
                                        <th>
                                            <input st-search="category" placeholder="Search Category" class="input-sm form-control" type="search" />
                                        </th>
                                        <th>
                                            <select class="filter-select input-sm form-control" st-search="account.name">
                                                <option value="">All</option>
                                                <option ng-repeat="row in initialTransactions | unique: 'account_id'" value="{{ row.account.name }}">{{ row.account.name }}</option>
                                            </select>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in transactions" ng-show="!item.filtered">
                                        <td class="table-check account" ng-class="{
                                            'pending': ($index <= 4),
                                            'new': ($index > 4 && $index < 10)
                                        }">
                                            <div class="checkbox checkbox-only">
                                                <input type="checkbox" id="tbl-check-{{ $index }}" />
                                                <label for="tbl-check-{{ $index }}"></label>
                                            </div>
                                        </td>
                                        <td am-time-ago="item.date"></td>
                                        <td>{{ item.name }}</td>
                                        <td>
                                            <i class="fa fa-circle-o color-green p-r-5" aria-hidden="true"></i>
                                            {{ item.category.hierarchy[item.category.hierarchy.length - 1] || "Uncategorized" }}
                                        </td>
                                        <td>{{ item.account.name }}</td>
                                        <td nowrap="nowrap" class="text-right">
                                            {{ item.amount | currency }}
                                            <span class="caret" ng-class="{
                                                    'color-red': (item.amount < 0),
                                                    'color-green': (item.amount > 0),
                                                    'caret-up': (item.amount > 0)
                                                }">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr ng-show="transactions.length == 0">
                                        <td colspan="6" class="text-center">
                                            No transactions to display.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--.box-typical-body-->
                </section>
            </div>
        </div><!--.box-typical-->
    </div><!--.container-fluid-->
</div>
