<div class="page-content">
    <div class="container-fluid">

        <section class="box-typical box-typical-max-280">
            <div class="summaries row">
                <div class="col-md-4 summary">
                    <div class="title">
                        <span>Weekly Transactions</span>
                        <i class="fa fa-cog"></i>
                    </div>
                    <span class="amount">{{ weekly.amount | currency }}</span>
                </div>
                <div class="col-md-4 summary">
                    <div class="title">
                        <span>Monthly Transactions</span>
                        <i class="fa fa-cog"></i>
                    </div>
                    <span class="amount">{{ monthly.amount | currency }}</span>
                </div>
                <div class="col-md-4 summary">
                    <div class="title">
                        <span>Yearly Transactions</span>
                        <i class="fa fa-cog"></i>
                    </div>
                    <span class="amount">{{ yearly.amount | currency }}</span>
                </div>
            </div>
        </section>

        <section class="box-typical">
            <header class="box-typical-header">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-title">
                        <h3>Transactions</h3>
                    </div>
                    <div class="tbl-cell">
                        <div id="search_filter" class="table-search-filter">
                            <input type="search" class="form-control input-sm" placeholder="" aria-controls="example">
                            <label>Search: </label>
                        </div>
                    </div>
                </div>
            </header>

            <div class="box-typical-body">
                <div class="table-responsive">
                    <table
                        class="table table-hover table-transactions"
                        st-table="displayedTransactions"
                        st-safe-src="transactions"
                    >
                        <thead>
                            <tr>
                                <th style="width: 50px;"></th>
                                <th st-sort="date">Date</th>
                                <th st-sort="name">Description</th>
                                <th st-sort="category">Category</th>
                                <th st-sort="account">Account</th>
                                <th st-sort="amount" style="width: 100px;">Amount</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <st-date predicate="date"></st-date>
                                </th>
                                <th>
                                    <input st-search="name" placeholder="Search Description" class="input-sm form-control" type="search"/>
                                </th>
                                <th>
                                    <input st-search="category" placeholder="Search Category" class="input-sm form-control" type="search"/>
                                </th>
                                <th>
                                    <st-select-distinct predicate="account"></st-select-distinct>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in transactions">
                                <td class="table-check account" style="border-left-color: {{ item.account.color }}">
                                    <div class="checkbox checkbox-only">
                                        <input type="checkbox" id="tbl-check-{{ $index }}"/>
                                        <label for="tbl-check-{{ $index }}"></label>
                                    </div>
                                </td>
                                <td am-time-ago="item.date"></td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.category.join(", ") || "Uncategorized" }}</td>
                                <td>{{ item.PlaidAccount.name }}</td>
                                <td nowrap="nowrap">
                                    {{ item.amount | currency }}
                                    <span class="caret"
                                        ng-class="{
                                            'color-red': (item.amount < 0),
                                            'color-green': (item.amount > 0),
                                            'caret-up': (item.amount > 0)
                                        }">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--.box-typical-body-->
        </section><!--.box-typical-->

    </div><!--.container-fluid-->
</div><!--.page-content-->
