<div class="container-fluid mb-2">
    <section class="page-control">
        <div class="row row-white row-title">
            <div class="col-md-9">
                <h1>$View name</h1>
            </div>
        </div>
        <div class="horiz-rule"></div>
        <div class="row row-white row-tabs">
            <div class="col-md-12">
                <ul>
                    <li>$Region</li>
                    <li class="active">$Region</li>
                    <li>$Region</li>
                    <li>$Region</li>
                    <li>$Region</li>
                </ul>
            </div>
        </div>
    </section>
</div>
