<section class="box-typical scenario" ng-repeat="scenario in scenarios | orderBy: 'created_at'" style="border-left-color: {{ scenario.color }}">
    <header class="box-typical-header">
        <div class="tbl-row">
            <div class="col-md-5 tbl-cell tbl-cell-title" ng-hide="scenario.gettingDeleted">
                <div
                    class="image"
                    ng-if="scenario.image !== ''"
                    style="background-image: url('assets/images/scenarios/{{ scenario.image }}')">
                </div>

                <div class="title">
                    <h3
                        class="editable"
                        editable-text="scenario.name"
                        e-form="editScenario"
                        onbeforesave="updateScenario(scenario)"
                        ng-click="editScenario.$show()">
                        {{ scenario.name }}
                    </h3>
                    <div class="font-11 color-blue-grey-lighter uppercase">Scenario</div>
                </div>

                <div class="editable-tray">
                    <i
                        class="fa fa-pencil edit color-blue-grey-lighter"
                        ng-click="editScenario.$show()"
                        ng-hide="editScenario.$visible">
                    </i>
                    <i
                        class="fa fa-clone copy color-blue-grey-lighter"
                        ng-click="copyScenario(scenario)">
                    </i>
                    <i
                        class="fa fa-trash delete color-blue-grey-lighter"
                        ng-click="scenario.gettingDeleted = true">
                    </i>
                </div>
            </div>

            <div class="col-md-5 tbl-cell tbl-delete-prompt" ng-show="scenario.gettingDeleted">
                <div class="delete-prompt pa-2">
                    <i class="fa fa-lg fa-warning color-red"></i>
                    <span>Are you sure you want to delete this scenario?</span>
                    <span class="prompt-actions">
                        <button
                            class="fa fa-check color-blue-grey-lighter confirm"
                            title="Confirm"
                            aria-label="Confirm"
                            ng-click="deleteScenario(scenario)">
                        </button>
                        <button
                            class="fa fa-times color-blue-grey-lighter cancel"
                            title="Cancel"
                            aria-label="Cancel"
                            ng-click="scenario.gettingDeleted = false">
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-md-2 tbl-cell float-md-right text-right mr-2 statistics">
                <span class="actual">{{ (scenario.income.actual + scenario.expense.actual) | currency }}</span>
                <span class="divider"> / </span>
                <span class="allowance">{{ (scenario.income.allowance + scenario.expense.allowance) | currency }}</span>
                <div class="font-11 color-blue-grey-lighter uppercase net">Net Cash Flow</div>
            </div>

            <div class="col-md-2 tbl-cell float-md-right text-right statistics">
                <span class="actual">{{ scenario.expense.actual | currency }}</span>
                <span class="divider"> / </span>
                <span class="allowance">{{ scenario.expense.allowance | currency }}</span>
                <div class="font-11 color-blue-grey-lighter uppercase expense">Net Expense</div>
            </div>

            <div class="col-md-2 tbl-cell float-md-right text-right statistics">
                <span class="actual">{{ scenario.income.actual | currency }}</span>
                <span class="divider"> / </span>
                <span class="allowance">{{ scenario.income.allowance | currency }}</span>
                <div class="font-11 color-blue-grey-lighter uppercase income">Net Income</div>
            </div>
        </div>
    </header>


    <div class="box-typical-body">
        <table
            class="table table-hover table-datatable table-budgets"
            st-table="scenario.budgets"
            ui-tree="draggableConfiguration"
            data-clone-enabled="true"
            data-nodrop-enabled
            data-empty-placeholder-enabled="false"
        >
            <thead>
                <tr>
                    <th style="width: 22%;">Category</th>
                    <th style="width: 7%;">Usage</th>
                    <th style="width: 23%;">Progress</th>
                    <th style="width: 8%;">Allowance</th>
                    <!-- <th style="width: 10%;"></th> -->
                    <th style="width: 10%;"></th>
                    <th style="width: 8%;"></th>
                    <th style="width: 8%;"></th>
                    <!-- <th style="width: 5%;"></th> -->
                </tr>
            </thead>
            <tbody ui-tree-nodes ng-model="scenario.budgets">
                <tr
                    class="budget"
                    ng-repeat="budget in scenario.budgets | orderBy: ['created_at']"
                    ui-tree-node
                    ng-class="{ 'unassigned': !budget.category_id }"
                >
                    <td class="category" ng-hide="budget.gettingDeleted">
                        <div ng-if="budget.type" class="font-11 color-blue-grey-lighter uppercase">{{ budget.allowance > 0 ? 'Income' : 'Expense' }}</div>
                        <span
                            editable-text="budget.category"
                            e-form="editBudgetCategory"
                            e-uib-typeahead="category as category.hierarchy[category.hierarchy.length - 1] for category in categories | filter: $viewValue | limitTo: 8"
                            onbeforesave="handleBudgetCategoryChange(scenario, budget, $data)"
                            ng-click="editBudgetCategory.$show()"
                        >
                            {{ budget.category.hierarchy.join(' > ') || 'None' }}
                            <div class="editable-tray">
                                <i
                                    class="fa fa-pencil edit color-blue-grey-lighter"
                                    ng-click="editBudgetCategory.$show()"
                                    ng-hide="editBudgetCategory.$visible">
                                </i>
                                <i
                                    class="fa fa-clone copy color-blue-grey-lighter"
                                    ui-tree-handle>
                                </i>
                                <i
                                    class="fa fa-trash delete color-blue-grey-lighter"
                                    ng-click="budget.gettingDeleted = true">
                                </i>
                            </div>
                        </span>
                    </td>

                    <td ng-show="budget.gettingDeleted" class="delete-prompt">
                        <i class="fa fa-lg fa-warning color-red"></i>
                        <span>Are you sure you want to delete this budget?</span>
                        <span class="prompt-actions">
                            <button
                                class="fa fa-check color-blue-grey-lighter confirm"
                                title="Confirm"
                                aria-label="Confirm"
                                ng-click="deleteBudget(scenario, budget)">
                            </button>
                            <button
                                class="fa fa-times color-blue-grey-lighter cancel"
                                title="Cancel"
                                aria-label="Cancel"
                                ng-click="budget.gettingDeleted = false">
                            </button>
                        </span>
                    </td>

                    <td class="text-right">
                        <div class="font-11 color-blue-grey-lighter uppercase">{{ budget.allowance > 0 ? 'Earned' : 'Spent' }}</div>
                        {{ budget.total | currency }}
                    </td>

                    <td>
                        <div class="progress-with-amount">
                            <uib-progressbar
                                class="progress progress-success progress-no-margin"
                                value="budget.progress"
                                max="100"
                                ng-class="{
                                    'progress-success income': (budget.total > 0),
                                    'progress-danger expense': (budget.total < 0)
                                }">
                            </uib-progressbar>
                            <span class="period-start">{{ budget.period.start | date: 'MMM dd' }}</span>
                            <span class="period-end">{{ budget.period.end | date: 'MMM dd' }}</span>
                            <div class="progress-with-amount-number">{{ budget.progress | numberPadding: 2 }}%</div>
                        </div>
                    </td>

                    <td class="text-left allowance">
                        <div class="font-11 color-blue-grey-lighter uppercase">
                            {{ budget.allowance > 0 ? 'Expected' : 'Allowance' }}
                            <span class="period">
                                <!-- ({{ dateRange.periods !== 1 ? (dateRange.periods * 100.).toFixed(2) + '% of a month' : 'Monthly' }}) -->
                                <!-- ({{ budget.interval_text }}) -->
                            </span>
                        </div>
                        <span class="editable"
                            editable-number="budget.allowance"
                            e-form="editBudgetAllowance"
                            onbeforesave="updateBudget(scenario, budget, { allowance: $data })"
                            ng-click="editBudgetAllowance.$show()">
                            {{ budget.allowance * dateRange.periods | currency }}

                            <div class="editable-tray">
                                <i
                                    class="fa fa-pencil edit color-blue-grey-lighter"
                                    ng-click="editBudgetAllowance.$show()"
                                    ng-hide="editBudgetAllowance.$visible">
                                </i>
                            </div>
                        </span>

                    </td>

                    <!-- <td class="text-right interval">
                        <div class="font-11 color-blue-grey-lighter uppercase">Current Period</div>
                        {{ budget.period.start | date: 'MMM dd' }} - {{ budget.period.end | date: 'MMM dd' }}
                    </td> -->

                    <td class="text-left interval">
                        <div class="font-11 color-blue-grey-lighter uppercase">Interval</div>
                        <!-- <span class="editable"
                            editable-text="budget.interval"
                            e-form="editBudgetInterval"
                            e-uib-typeahead="interval as interval.text for interval in intervals | filter: $viewValue"
                            onbeforesave="updateBudget(scenario, budget, { interval: $data.value, interval_text: $data.text })"
                            ng-click="editBudgetInterval.$show()">
                            {{ budget.interval_text }}

                            <div class="editable-tray">
                                <i
                                    class="fa fa-pencil edit color-blue-grey-lighter"
                                    ng-click="editBudgetInterval.$show()"
                                    ng-hide="editBudgetInterval.$visible">
                                </i>
                            </div>
                        </span> -->
                        <form data-editable-form name="intervalForm" class="editable">
                            <div
                                editable-ui-select="budget.interval_text"
                                e-form="intervalForm"
                                e-name="interval"
                                e-ng-model="budget.interval_text"
                                ng-click="intervalForm.$show()"
                                onbeforesave="updateBudget(scenario, budget, { interval: $data.value, interval_text: $data.text })"
                            >{{ budget.interval_text }}
                                <editable-ui-select-match placeholder="Interval">
                                    {{ $select.selected.text || $select.selected }}
                                </editable-ui-select-match>
                                <editable-ui-select-choices repeat="interval in intervals | filter: $select.text track by $index">
                                    {{ interval.text }}
                                </editable-ui-select-choices>
                            </div>
                            <div class="editable-tray">
                                <i
                                    class="fa fa-pencil edit color-blue-grey-lighter"
                                    ng-click="intervalForm.$show()"
                                    ng-hide="intervalForm.$visible">
                                </i>
                            </div>
                            <div class="editable-buttons" ng-show="intervalForm.$visible">
                                <button class="fa fa-check" title="Submit" aria-label="Submit"></button>
                                <button class="fa fa-times" ng-click="intervalForm.$cancel()" title="Cancel" aria-label="Cancel"></button>
                            </div>
                        </form>
                    </td>

                    <td class="text-right start-date">
                        <div class="font-11 color-blue-grey-lighter uppercase">Starting</div>
                        <span class="editable"
                            onbeforesave="updateBudget(scenario, budget, { start: $data })"
                            editable-bsdate="budget.start"
                            e-is-open="opened.$data"
                            e-ng-click="open($event, '$data')"
                            e-readonly="true"
                            e-show-calendar-button="false"
                            e-datepicker-popup="MMM dd, yyyy">
                            {{ budget.start | date }}

                            <div class="editable-tray">
                                <i
                                    class="fa fa-pencil edit color-blue-grey-lighter"
                                    ng-hide="opened.$data">
                                </i>
                            </div>
                        </span>
                    </td>

                    <td class="text-left end-date">
                        <div class="font-11 color-blue-grey-lighter uppercase">Ending</div>
                        <span class="editable"
                            onbeforesave="updateBudget(scenario, budget, { end: $data })"
                            editable-bsdate="budget.end"
                            e-is-open="opened.$data"
                            e-ng-click="open($event, '$data')"
                            e-readonly="true"
                            e-show-calendar-button="false"
                            e-datepicker-popup="MMM dd, yyyy">
                            {{ budget.end | date }}

                            <div class="editable-tray">
                                <i
                                    class="fa fa-pencil edit color-blue-grey-lighter"
                                    ng-hide="opened.$data">
                                </i>
                            </div>
                        </span>
                    </td>
                    <!-- <td class="text-center list-transactions">
                        <i class="fa fa-2x fa-bars" ng-click="showTransactions(budget)"></i>
                    </td> -->
                </tr>
            </tbody>
            <tfoot>
                <tr ng-show="scenario.budgets.length == 0">
                    <td colspan="6" class="text-center">
                        No budgets to display.
                    </td>
                </tr>
                <tr>
                    <td colspan="10" class="row-gray text-center add" ng-click="toggleCreateBudget(scenario)">
                        <i class="fa fa-plus"></i>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
