<section class="box-typical scenario" ng-repeat="scenario in scenarios | orderBy: 'created_at'" style="border-left-color: {{ scenario.color }}">
    <header class="box-typical-header">
        <div class="tbl-row">
            <div class="col-md-3 tbl-cell tbl-cell-title">
                <div
                    class="image"
                    ng-if="scenario.image !== ''"
                    style="background-image: url('assets/images/scenarios/{{ scenario.image }}')">
                </div>
                <div class="title">
                    <h3
                        class="editable"
                        editable-text="scenario.name"
                        e-form="editScenario"
                        onbeforesave="updateScenario(scenario)">
                        {{ scenario.name }}
                    </h3>
                    <div class="font-11 color-blue-grey-lighter uppercase">Scenario</div>
                </div>
                <div class="editable-tray">
                    <i
                        class="fa fa-pencil edit color-blue-grey-lighter"
                        ng-click="editScenario.$show()"
                        ng-hide="editScenario.$visible">
                    </i>
                    <i
                        class="fa fa-trash edit color-blue-grey-lighter"
                        ng-click="deleteScenario(scenario)"
                        ng-hide="editScenario.$visible">
                    </i>
                </div>
            </div>

            <div class="col-md-2 tbl-cell float-md-right text-right mr-2">
                {{ (scenario.income.actual + scenario.expenditure.actual) | currency }} / {{ (scenario.income.allowance + scenario.expenditure.allowance) | currency }}
                <div class="font-11 color-blue-grey-lighter uppercase">Net Cash Flow</div>
            </div>

            <div class="col-md-2 tbl-cell float-md-right text-right">
                {{ scenario.expenditure.actual | currency }} / {{ scenario.expenditure.allowance | currency }}
                <div class="font-11 color-blue-grey-lighter uppercase">Net Expenditure</div>
            </div>

            <div class="col-md-2 tbl-cell float-md-right text-right">
                {{ scenario.income.actual | currency }} / {{ scenario.income.allowance | currency }}
                <div class="font-11 color-blue-grey-lighter uppercase">Net Income</div>
            </div>
        </div>
    </header>


    <div class="box-typical-body">
        <table class="table table-hover table-datatable table-budgets" st-table="scenario.budgets" ui-tree="dragOptions" data-clone-enabled="true" data-nodrop-enabled>
            <thead>
                <tr>
                    <th st-sort="category">Category</th>
                    <th st-sort="progress" style="width: 25%;">Progress</th>
                    <th colspan="2"></th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody ui-tree-nodes="" ng-model="scenario.budgets">
                <tr
                    style="z-index: 9999"
                    ng-repeat="budget in scenario.budgets"
                    ui-tree-node
                >
                    <td>
                        <div class="font-11 color-blue-grey-lighter uppercase">{{ budget.type | capitalize }}</div>
                        {{ budget.category.hierarchy.join(', ') }}
                    </td>

                    <td>
                        <div class="progress-with-amount">
    						<progress
                                class="progress progress-success progress-no-margin"
                                value="{{ budget.progress >= 100 ? 100 : budget.progress }}"
                                max="100"
                                ng-class="{
                                    'progress-success': (budget.progress < 90),
                                    'progress-warning': (budget.progress > 90 && budget.progress < 100),
                                    'progress-danger': (budget.progress > 100)
                                }">
                                {{ budget.progress | numberPadding: 2 }}
                            </progress>
    						<div class="progress-with-amount-number">{{ budget.progress | numberPadding: 2 }}%</div>
    					</div>
                    </td>

                    <td class="text-right">
                        <div class="font-11 color-blue-grey-lighter uppercase">{{ budget.allowance > 0 ? 'Earned' : 'Spent' }}</div>
                        {{ budget.total | currency }}
                    </td>

                    <td class="text-left allowance">
                        <div class="font-11 color-blue-grey-lighter uppercase">Allowance</div>
                        <span class="editable"
                            editable-number="budget.allowance"
                            e-form="editBudget"
                            onbeforesave="updateBudget(budget)">
                            {{ budget.allowance | currency }}

                            <div class="editable-tray">
                                <i
                                    class="fa fa-pencil edit color-blue-grey-lighter"
                                    ng-click="editBudget.$show()"
                                    ng-hide="editBudget.$visible">
                                </i>
                            </div>
                        </span>

                    </td>

                    <td class="text-right">
                        <div class="btn-group mr-2" uib-dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-regular" uib-dropdown-toggle ng-disabled="disabled">
                                Actions
                            </button>
                            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <a class="dropdown-item" ui-tree-handle>Copy (Hold)</a>
                                <a class="dropdown-item danger" ng-click="deleteBudget(budget)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr ng-show="scenario.budgets.length == 0">
                    <td colspan="6" class="text-center">
                        No budgets to display.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
