<section class="box-typical" ng-repeat="scenario in scenarios">
    <header class="box-typical-header">
        <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
                <h3 class="col-md-3 pull-left">{{ scenario.name }}</h3>
                <div class="col-md-1 pull-right text-right">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="box-typical-body">
        <div class="table-responsive">
            <table class="table table-hover table-transactions">
                <tbody>
                    <tr ng-repeat="budget in scenario.budgets" style="background: {{ budget.background }}">
                        <td class="account" style="border-left-color: {{ budget.color }}">
                            <div class="font-11 color-blue-grey-lighter uppercase">Category</div>
                            {{ budget.category.hierarchy.join(', ') }}
                        </td>
                        <td>
                            <div class="font-11 color-blue-grey-lighter uppercase">Spending</div>
                            {{ budget.category.transactions | propertyTotal: 'amount' | inverse | currency }} / {{ budget.allowance | currency }}
                        </td>
                        <td>
                            <div class="font-11 color-blue-grey-lighter uppercase">Total</div>
                            {{ budget.category.transactions.length }} transactions
                        </td>
                        <td>
                            <div class="font-11 color-blue-grey-lighter uppercase">Type</div>
                            {{ budget.type | capitalize }}
                        </td>
                        <td nowrap="nowrap">
                            <div class="font-11 color-blue-grey-lighter uppercase">Options</div>
                            <i class="fa fa-cog"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--.box-typical-body-->
</section>
