<div class="tray">
    <div class="exterior"></div>

    <div class="sidebar">
        <div class="menu-section" ng-controller="controllers.navigation as navigationCtrl">
            <div class="menu-header">
                <h1>Menu</h1>
            </div>
            <ul>
                <li ng-repeat="item in menu">
                    <a ui-sref="{{ item.url }}">{{ item.title }}</a>
                    <span ng-if="item.badge" class="badge {{ item.badge.type }}">{{ item.badge.content }}</span>
                </li>
            </ul>
        </div>

        <div class="account" ng-controller="controllers.sidemenu as sidemenuCtrl">
            <img src="http://themesanytime.com/startui/demo/img/photo-64-4.jpg" alt="Account">
            <a href="#">Nick</a>
            <i class="fa fa-cog" aria-hidden="true"></i>
            <i class="fa fa-sign-out" aria-hidden="true" ng-click="logout()"></i>
        </div>
    </div>
</div>
