<div class="container-fluid mb-2">
    <section class="page-control">
        <div class="row row-white row-title">
            <div class="col-md-6">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-md-6">
                <slot name="header"></slot>
            </div>
        </div>
        <div class="row row-white row-tabs">
            <div class="col-md-12">
                <ul>
                    <li v-for="item in menu">{{ item.name }}</li>
                </ul>
            </div>
        </div>
    </section>
</div>
