@import '~assets/less/partials/vars';

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
    display: flex;
    flex-grow: 2;
    flex-flow: column;
    background: @dark-blue;
    padding: 32px 29px 20px 29px;
    position: relative;
    color: @text-regular-gray;

    .menu-section {
        flex-grow: 1;

        &:last-child ul { border: none !important; }

        h1 {
            font-family: @font-text, sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: @text-faded-gray;
            text-align: left;
            line-height: 15px;
            text-transform: uppercase;
        }

        i {
            height: 100%;
            float: right;
            width: 20px;
            color: @text-faded-gray;
            cursor: pointer;
        }

    }
}
