.budgets {
    .row-message {
        button.btn {
            i {
                color: #86CAFF;
                margin-right: 6px;
            }
        }
    }

    section.scenario {
        border-left: 4px solid #1A91EB;

        header {
            height: 82px;

            .editable-controls {
                input {
                    font-weight: 600;
                }
            }

            .editable-tray {
                display: none;
                float: left;
                margin: 5px 10px;
                font-size: 14px;
            }

            &:hover {
                .editable-tray {
                    display: block;
                }
            }

            .tbl-row {
                height: 100%;
                display: block;

                .tbl-cell {
                    height: 100%;
                    padding: 1.50rem .75rem;

                    &:first-child {
                        padding: 17px 0 17px 25px;
                    }

                    .image {
                        float: left;
                        display: block;
                        border-radius: 50%;
                        height: 48px;
                        width: 48px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        margin: 0 20px 0 0;
                    }

                    .title {
                        margin: 2px 0 0 0;
                        float: left;
                    }
                }
            }
        }

        .table-budgets {
            button.btn-regular {
                /* Base: */
                background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
                border: 1px solid #CED0DA;
                border-radius: 4px;
                position: relative;

                /* Actions: */
                font-family: ProximaNova-Semibold;
                font-size: 14px;
                color: #354052;
                line-height: 19px;
                padding-right: 35px;

                &:before {
                    /* Arrow: */
                    font-family: FontAwesome;
                    content: "\f107";
                    position: absolute;
                    right: 0;
                    padding-right: 10px;
                }
            }

            th {
                padding-bottom: 7px;
                padding-top: 6px;
                &:first-child {
                    padding-left: 25px;
                }
            }

            td {
                height: 70px;

                &:first-child {
                    padding-left: 25px;
                }

                &.allowance {
                    position: relative;

                    .editable {
                        display: inline-block;
                        position: relative;
                    }

                    .editable-tray {
                        display: none;
                        position: absolute;
                        margin-left: 5px;
                        right: -20px;
                        top: 0;
                    }

                    &:hover {
                        .editable-tray {
                            display: inline;
                        }
                    }


                    .editable-controls {
                        position: relative;

                        input {
                            margin: 0;
                        }

                        .editable-buttons {
                            position: absolute;
                            right: -50px;
                        }
                    }

                    form, input {
                        width: 50px;
                    }
                }
            }
        }
    }

    .progress-with-amount {
        padding-right: 50px;
    }
}
