.budgets {
    .row-message {
        button.btn {
            i {
                color: #86CAFF;
                margin-right: 6px;
            }
        }
    }

    section.scenario {
        border-left: 4px solid #1A91EB;

        header {
            height: 82px;

            .editable-controls {
                input {
                    font-weight: 600;
                }
            }

            .statistics {
                div {
                    padding-top: 3px;
                    border-top: 2px solid;
                }

                span.actual {
                    font-style: italic;
                }

                span.divider {
                    margin: 0 4px;
                }

                span.allowance {
                    font-weight: 600;
                }

                .income {
                    border-color: @color-green;
                }

                .expense {
                    border-color: @color-red;
                }

                .net {
                    border-color: @color-blue;
                }
            }

            .editable-tray {
                display: none;
                float: left;
                margin: 5px 10px;
                font-size: 14px;
            }

            .tbl-row {
                height: 100%;
                display: block;

                .tbl-cell {
                    height: 100%;
                    padding: 1.30rem .75rem;
                    white-space: nowrap;

                    &:first-child {
                        padding: 17px 0 17px 25px;
                    }

                    .image {
                        float: left;
                        display: block;
                        border-radius: 50%;
                        height: 48px;
                        width: 48px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        margin: 0 20px 0 0;
                    }

                    .title {
                        margin: 2px 0 0 0;
                        float: left;
                    }
                }

                .tbl-cell-title {
                    &:hover {
                        .editable-tray {
                            display: block;
                        }
                    }
                }

                .tbl-delete-prompt {
                    padding: 31px 0 31px 25px;

                    .delete-prompt {
                        padding: 0;
                    }
                }
            }
        }

        .table-budgets {
            th {
                padding-bottom: 7px;
                padding-top: 6px;

                &:first-child {
                    padding-left: 25px;
                }
            }

            .budget {
                &.unassigned {
                    td.category {
                        .editable-tray {
                            right: -50px;

                            i.copy {
                                display: none !important;
                            }

                        }

                        span.editable {
                            font-style: italic;
                        }
                    }

                    td:not(.category):not(.delete-prompt) {
                        -webkit-filter: blur(3px);
                        -moz-filter: blur(3px);
                        -ms-filter: blur(3px);
                        -o-filter: blur(3px);
                        filter: blur(3px);

                        -webkit-user-select: none; /* Chrome/Safari */
                        -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* IE10+ */

                        /* Rules below not implemented in browsers yet */
                        -o-user-select: none;
                        user-select: none;

                        cursor: default !important;
                        position: relative;

                        &.list-transactions {
                            i {
                                display: none;
                            }
                        }

                        &.allowance {
                            .editable-tray {
                                display: none !important;
                            }
                        }

                        &:before {
                            content: '';
                            background: transparent;
                            z-index: 5;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }

                td {
                    height: 70px;

                    &:first-child {
                        padding-left: 25px;
                    }

                    &.category,
                    &.allowance {
                        position: relative;

                        .editable {
                            display: inline-block;
                            position: relative;
                        }

                        .editable-tray {
                            display: none;
                            position: absolute;
                            margin-left: 5px;
                            right: -25px;
                            top: 0;
                        }

                        .period {
                            display: none;
                        }

                        &:hover {
                            .editable-tray {
                                display: inline;
                            }

                            .period {
                                display: inline;
                            }
                        }

                        .editable-controls {
                            position: relative;

                            .editable-buttons {
                                position: absolute;
                                right: -50px;
                            }
                        }

                        input[type="number"]::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        input[type="number"] {
                            -moz-appearance: textfield;
                            width: 50px;
                        }
                    }

                    &.category {
                        .editable {
                            border: none;
                        }

                        .editable-tray {
                            right: -75px;
                        }

                        input {
                            margin-top: 2px;
                            width: 250px;
                        }
                    }

                    .progress {
                        &.expense {
                            .progress-bar {
                                float: right;
                            }
                        }
                    }

                    &.list-transactions {
                        color: #cbd3da;

                        &:hover {
                            color: @color-blue;
                            cursor: pointer;
                        }
                    }
                }
            }

            td.add {
                height: 35px !important;

                &:hover {
                    color: @color-blue;
                    cursor: pointer;
                }
            }
        }
    }

    .progress-with-amount {
        padding-right: 50px;
    }

    .delete-prompt {
        padding-left: 25px;

        i {
            margin-right: 5px;
        }

        .prompt-actions {
            button {
                background: transparent;
                border: none;
                margin: 0 3px;
            }

            button.confirm {
                &:hover {
                    color: @color-red !important;
                    cursor: pointer;
                }
            }

            button.cancel {
                &:hover {
                    color: @color-blue !important;
                    cursor: pointer;
                }
            }
        }
    }
}
