@import '../partials/mixins';
@import '../partials/vars';

/* ==========================================================================
   Datacenter
   ========================================================================== */

.chart-container {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

#status-chart {
    background: #fff;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #E6EAEE;
    width: 100%;
}

path[stroke="#e5e5e5"] {
    visibility: visible !important;
}

.highcharts-xaxis-labels text.active {
    font-weight: 700;
}
