@import '../partials/mixins';
@import '../partials/vars';

/* ==========================================================================
   Overview
   ========================================================================== */

.hardware {
    header {
        position: relative;

        .health {
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            cursor: pointer;

            // This will make it so the bar is always 100%. This is a
            // very lazy fix for this. Only here to make the mocked
            // data look good.
            background: @color-red;

            &:hover {
                height: 8px;
            }

            li {
                display: block;
                float: left;
                height: 100%;
                margin: 0;
                padding: 0;

                &.stable {
                    width: 33%;
                    background: @color-green;
                }

                &.warning {
                    width: 34%;
                    background: @color-yellow;
                }

                &.danger {
                    width: 33%;
                    background: @color-red;
                }
            }
        }
    }
}
