<div>
    <v-tray>
    </v-tray>
    <div class="main-padding" style="padding-left: 400px">
        <v-contentheader>
        </v-contentheader>
        <div class="container" style="margin: 0px; width: 100%">
            <div class="row">
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <v-resource>
                </v-resource>
                <slot></slot>
            </div>
        </div>
    </div>

</div>
