@import '~assets/less/partials/vars';

/* ==========================================================================
   Page Header
   ========================================================================== */

.waterfall-resource {
    background: #FFF;
    border: solid 1px #d8e2e7;
    min-width: 6%;
    min-height: 6%;
    margin: 0;
    flex-grow: 1;
    position: relative;

    // Disable Highlighting
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;      /* iOS Safari */
    -khtml-user-select: none;       /* Chrome/Safari/Opera */
    -moz-user-select: none;         /* Konqueror */
    -ms-user-select: none;          /* Firefox */
    user-select: none;              /* Internet Explorer/Edge */

    &.good {
        background: @color-green;
        border: solid 1px @color-border-green;

        span.title { color: @color-white; }
    }

    &.decent {
        background: @color-yellow;
        border: solid 1px #f0ad4e;

        span.title { color: @color-white; }
    }

    &.bad {
        background: @color-red;
        border: solid 1px @color-border-red;

        span.title { color: @color-white; }
    }

    .health {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: @color-text;
        word-wrap: normal;
        white-space: pre-wrap;
        padding: 0 10px;
    }
}
