@import '~assets/less/partials/vars';

/* ==========================================================================
   Navigation
   ========================================================================== */

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: block;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: @text-regular-gray;
        font-size: 15px;
        font-family: @font-text, sans-serif;
        line-height: 36px;
        padding: 0 30px;

        i.fa {
            color: @text-regular-gray;
            float: left;
            display: block;
            height: 100%;
            padding: 10px 10px 10px 0;
            font-size: 18px;
            width: 30px;
            text-align: center;
        }

        &:hover {
            cursor: pointer;
            color: @text-hover-gray;

            i.fa {
                color: @text-hover-gray;
            }
        }

        .touch-ripple {
            color: rgba(0, 0, 0, 0.55);
        }

        &.inactive * {
            color: #5b6779 !important;
        }

        span.badge {
            border-radius: 31px;
            height: 24px;
            float: right;
            font-family: @font-text, sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
            margin: 6px 0;
            padding: 5px 9px;
            background: @gradient-blue-bg;

            &.round {
                width: 24px;
            }
        }
    }
}
