<ul class="navigation">
    <router-link
        v-for="item in menu"
        :to="{ name: item.name }"
        active-class="active"
        class="nav-item"
        tag="li"
    >
        <div class="title-row">
            <i class="fa" :class="item.icon"></i>
            <span class="title">
                {{ item.title }}
            </span>
            <span v-if="item.badge" class="badge" :class="item.badge.type" ref="item.name">{{ item.badge.content }}</span>
        </div>
    </router-link>
</ul>
