@import '~assets/less/partials/vars';

/* ==========================================================================
   Content Header
   ========================================================================== */

.content-header {
    display: flex;
    flex-direction: column;
}

.row-title {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1.page-title {
        flex: 1;
        padding: 0 20px;
        font-size: 28px;
    }
}

.row-navigation {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6EAEE;
    border-top: 1px solid #ecf2f5;

    ul {
        display: flex;
        flex-direction: row;

        li {
            flex: 1;
            cursor: pointer;
            font-size: 16px;
            color: #7F8FA4;
        }
    }
}

section.page-control {
    .row-title {
        padding: 0 20px;
        height: 80px;

        div {
            height: 100%;

            h1 {
                font-size: 28px;
                padding: 25px 0px;
            }

            .date {
                padding: 21px 0px;
            }
        }
    }

    .row-tabs {
        padding: 0 20px;
        border-bottom: 1px solid #E6EAEE;

        ul {
            display: block;
            list-style: none;
            float: left;
            height: 100%;
            width: 100%;
            border-top: 1px solid #ecf2f5;

            li {
                display: block;
                float: left;
                padding: 21px 0;
                margin: 0 25px;
                height: 100%;
                cursor: pointer;
                font-size: 16px;
                color: #7F8FA4;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    border-bottom: 3px solid #2EA2F8;
                    padding-bottom: 18px;
                    color: #354052;
                }

                &:hover {
                    color: #FF0000;
                }
            }
        }
    }
}
